Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
set number                        " line numbers
" set <leader> to <space>
let mapleader = " "
:map <leader>r <Action>(ReformatCode)
:map <leader>o <Action>(GotoFile)
:map <leader>s <Action>(FileStructurePopup)
:map <leader>f <Action>(Find)
:map <leader>fp <Action>(FindInPath)
:map ] <Action>(NextTab)
:map [ <Action>(PreviousTab)
:map = <Action>(NextSplitter)
:map - <Action>(PrevSplitter)
:map <leader>w <Action>(CloseActiveTab)
:map q <Action>(JumpToLastChange)
:map <leader>t <Action>(ActivateTerminalToolWindow)
:map <leader>n :NERDTree<CR>
